body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hidden {
    display: none !important;
}

#title {
    margin-top: 20px;
}

#high-score {
    margin-bottom: 10px;
}

#score {
    margin-top: 5px;
    margin-bottom: 15px;
}

/* #game-container {
    border: 1px solid magenta;
    height: 800px;
    width: 800px;
}; */

/*  */

#grid {

    display: grid;
    height: 450px;
    width: 450px;
    gap: 0px;
    border: 5px solid #4a752c;

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

}

.light {

    height: auto;
    width: auto;
    background-color: #a2d149;
    /* border-radius: 20px; */

}

.dark {

    height: auto;
    width: auto;
    background-color: #8bb042;
    /* background-color: #4a752c; */

}

#blue-test {
    background-color: blue
}